.info__container {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.info__container__data {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 40px;
}

.info__container__img {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-left: 10px;
}

.info__container__img img {
	width: 180px;
	height: 220px;
	padding: 1.5rem 1rem;
	margin: 0.3rem;
	/* border: 10px solid hsl(228, 12%, 20%); */
	border-radius: 1.2rem;
}

.info__container__img>div {
	/* font-family: 'Press Start 2P', cursive; */
	font-size: 25px;
	text-transform: capitalize;
}

.info__container__data__header {
	align-items: center;
	justify-content: space-between;
	display: flex;
}

.info__container__data__type {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.info__container__data__type img {
	height: 20px;
	width: 20px;
}

.info__container__headings {
	font-family: 'VT323', monospace;
	font-size: 27px;
	font-weight: 600;
}

.info__container__data__abilities {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 15px;
}

.info__container__data__data {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px 15px;
	align-items: center;
	margin: 15px 0;
	justify-content: space-between;
}

.info__container__stat__columns {
	width: 135px;
	margin-right: 0px;
}

.MuiDialog-paperFullWidth {
	width: 55%;
	border-radius: 1rem;
	border: 15px solid #fff;
	box-shadow: 0 10px 30px 4px rgb(0 0 0 / 50%);
}

.MuiBackdrop-root {
	background-color: rgba(0, 0, 0, 0);
}

.info__container__data__dimensions {
	display: flex;
	gap: 0 30px;
}

.info__container__stat__columns__name {
	text-transform: uppercase;
	color: crimson;
}

.dialog__bg {
	background-image: url("../assets/images/bg.png");
	background-repeat: repeat;
}

.dialog__content {
	font-family: 'VT323', monospace;
	font-size: 21px;
}

.pokemon__name {
	font-family: 'Press Start 2P', cursive;
}

.close__btn {
	width: 30px !important;
}

.stats {
	margin-top: 20px;
}

.ability {
	text-transform: capitalize;
}

.right__box {
	display: flex;
	flex-direction: column;
	height: -webkit-fill-available;
	justify-content: space-evenly;
}

/* phone */

@media screen and (max-width: 767px) {
	.MuiDialog-paperFullWidth {
		width: 75%;
		height: 60%;
	}
	.info__container {
		display: flex;
		flex-direction: column;
	}
	.info__container__img{
		margin-left: 0px;
	}
	.info__container__data {
		/* width: 90%; */
		margin-left: 0px;
	}
	.right__box {
		margin-top: 20px;
		justify-content: center;
		align-items: center;
	}
	.info__container__data__data{
		justify-content: center;
	}
	.info__container__stat__columns__name, .info__container__stat__columns__val, .stats, .dimensions, .ability{
		text-align: center;
	}
	
}

@media only screen and (-webkit-min-device-pixel-ratio: 3.5) {
	/* CSS */
	.MuiDialog-paperFullWidth {
		width: 75%;
		height: 60%;
	}
	.info__container {
		display: flex;
		flex-direction: column;
	}
}