html {
  --toggle: hsl(230deg 17% 85%);
  --bggradient: url("../src/assets/images/bg.png");
  --bgcolor: none;
  --colorPrimary: #000;
  --filterHeading: #000;
  --selectBg : #fff;
  --selectText : #000;
}

html[data-theme=dark] {
  --toggle: linear-gradient(90deg, hsl(216deg 52% 48%), hsl(51deg 100% 60%));
  --bggradient: none;
  --bgcolor: #16171f;
  --colorPrimary: #fff;
  --filterHeading: #707384;
  --selectBg : #16171f;
  --selectText : #707384;
}

@font-face {
  font-family: 'barcadebrawl';
  src: url('../src/assets/fonts/BarcadeBrawl.ttf');
}

body {
  margin: 0;
  background-image: var(--bggradient);
  background-color: var(--bgcolor);
  background-repeat: repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 1s ease;
}

.poke__logo {
  margin-top: 10px;
  width: 15vw;
  -webkit-filter: drop-shadow(5px 0px 0px rgba(0,0,0,0.6));
  filter: drop-shadow(5px 0px 0px rgba(0,0,0,0.6));
}

.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app__container .loading__text{
  font-family: 'Press Start 2P', cursive;
  color: var(--colorPrimary);
}

.gif__container{
  text-align: center;
}

.pokemon__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all__pokemons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: .5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}

.load__more {
  background: #f5f5f5 linear-gradient(#f5f5f5, #f1f1f1) repeat-x;
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  color: #444;
  padding: 0.5rem 1.5rem;
  min-width: 50%;
  margin-top: 1rem;
}

.poke__name>h3 {
  text-transform: capitalize;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-top: 5vh;
}

.loading__gif {
  width: 15%;
}

.pokeball__box {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.poke__logos {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.app__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.no__data{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  text-align: center;
  color: var(--colorPrimary);
}

.app__footer> :nth-child(1) {
  margin-top: 20px;
}

.app__footer> :nth-child(2) {
  margin-bottom: 20px;
}

.filter__container {
  display: flex;
  flex-direction: row;
  margin: 7vh 0 5vh 0;
  gap: 0 2vw;
}

.filter__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'barcadebrawl';
  font-size: 12px;
}

.filter__items>input {
  width: 10vw;
  margin-top: 5px;
  background-color: var(--selectBg);
  color: var(--selectText);
  border: 1px solid var(--selectText);
}

select {
  width: 10vw;
  margin-top: 5px;
}

.switch {
  display: flex;
  align-items: center;
}

.switch .label {
  flex: 1;
  line-height: 30px;
}

.switch .toggle {
  position: relative;
}

.switch .toggle label {
  position: absolute;
  display: inline-block;
  width: 65px;
  height: 30px;
  z-index: 1;
  border-radius: inherit;
  cursor: pointer;
}

.switch .toggle input {
  display: none;
}

.switch .toggle-bg {
  margin-left: auto;
  width: 65px;
  height: 30px;
  border-radius: 30px;
  background: var(--toggle);
}

.switch .toggle-thumb {
  position: absolute;
  top: 2px;
  left: 3px;
}

.switch .toggle-thumb i {
  color: var(--textPri);
  font-size: 1.1rem;
  padding: 0.25rem;
  border-radius: 50%;
  background: var(--mainBg);
  box-shadow: inset 0 0 7px var(--cardBg);
}

.switch .toggle-thumb .fa-sun {
  opacity: 0;
  z-index: 1;
  transform: translateX(1px);
  transition: all 0.5s;
}

.switch .toggle-thumb .fa-moon {
  opacity: 1;
  transform: translateX(-30px);
  transition: all 0.55s;
}

.switch .toggle input[type=checkbox]:checked~.toggle-thumb .fa-sun {
  opacity: 1;
  z-index: -1;
  transform: translateX(34px);
}

.switch .toggle input[type=checkbox]:checked~.toggle-thumb .fa-moon {
  opacity: 0;
  transform: translateX(4px);
}

.github__icon, .app__footer {
  color: var(--colorPrimary);
}

.filter__items>div, label {
  color: var(--filterHeading);
}

.switch, .github__icon {
  width: 5vw;
  margin: 0 6vw;
}

.github__icon:hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

select{
  color: var(--selectText);
  background-color: var(--selectBg);
}

@media screen and (max-width: 767px) {
  .loading__gif {
    width: 35%;
  }
  .poke__logo {
    width: 35vw;
  }
  .filter__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin: 7vh 0 5vh 0;
    gap: 2vh 2vw;
    justify-content: center;
  }
  select, .filter__items>input{
    width: 40vw;
  }
  
}